*{margin: 0; padding: 0;}

.footer p {
    margin: 0;
}

.container {
}

.footer {
    background: #3e3e3e;
    color: white;
    height: 30px;
    line-height: 30px;
}

.xuong:after {content: "";background: white;position: absolute;width: 3px;height: 10px;transform: translateX(-2px);top: 10px;}

.xuong:hover {
    bottom: 4%;
}

.xuong {
    width: 40px;
    height: 70px;
    border: 1px solid white;
    position: absolute;
    left: 50%;
    border-radius: 30px;
    margin-left: -20px;
    cursor: pointer;
    z-index: 2;
    bottom: 2%;
    transition: 0.4s;
}

h3.tieudecap3 {
    font-size: 18px;
    margin-bottom: 20px;
    color: red;
}

span.dam {
    font-weight: 600;
}

h2.tieudecap2 {
    margin: 0;
    font-weight: 300;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.tieudeto h1:after {content: '';top: 82%;left: 30%;position: absolute;background: red;height: 2px;width: 90px;}

.tieudeto h1 {
    margin-bottom: 20px;
}

.tieudeto.text-center {
    margin-top: 120px;
    margin-bottom: 60px;
}

.navbar-default .navbar-nav > .active > a:hover {
    color: red;
}

.navbar-default .navbar-nav > li a:hover {
    color: red;
}

a.nuthire.btn.btn-default {
    width: 180px;
    background: black;
    color: white;
    border: none;
    border-radius: 0px;
    height: 45px;
    font-size: 20px;
}

.tt p {
    color: black;
    font-size: 16px;
    line-height: 20px;
    width: 50%;
    margin: auto;
    margin-bottom: 34px;
}

.tt h2 {
    font-size: 40px;
    margin-bottom: 20px;
    color: white;
    font-weight: 600;
}

.tt img {
    border-radius: 50%;
    margin-bottom: 50px;
}

.tt {
    z-index: 2;
    position: relative;
    padding-top: 10%;
}

.khoitt:before {content: "";width: 50%;height: 100%;top: 0;left: 0;background: #e4555b;position: absolute;z-index: 1;}

html,body {
    width: 100%;
    height: 100%;
}

.khoitt {
    width: 100%;
    height: 100%;
    background: #e9585f;
    position: relative;
}

nav.navbar.navbar-default.navbar-fixed-top {
    background: white;
    border: none;
}

.nav li {
    padding: 0;
    margin: 0 12px;
}

.navbar-default .navbar-nav > li a {
    text-transform: uppercase;
    font-size: 13px;
    color: #101010;
    font-weight: 600;
    transition: 0.5s;
}

.navbar-brand {
    padding: 0;
    margin: 0;
    padding-top: 10px;
}

.navbar-default .navbar-nav > .active > a:hover {
    background: none;
}

.navbar-default .navbar-nav > .active > a {
    background: none;
    color: black;
} 
body{
    font-family: 'Open Sans', sans-serif;
}
/* css cho di dong */
@media (max-width:576px) { 
    *{}

.khoicmt h1.text-center {
    font-size: 30px;
}

.edu h1 {
    font-size: 24px;
}

h2.tieudecap2 {
    margin-top: 15px;
}

.cot1, .cot3 {
    text-align: center;
}

.tieudeto h1:after {display: none;}

.tt {
    padding-top: 25%;
}

.navbar-default .navbar-nav > .active > a {
    background: #ded8d8;
}

a.navbar-brand {
    margin-left: 15px;
}

.navbar-default .navbar-nav > li a {
    border-bottom: 1px dotted gray;
}

ul.nav.navbar-nav.navbar-right {
    text-align: center;
}
    
}